# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.sum
*/*.sum
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
log4go/testlog/conn/server/server
.vscode/launch.json

go.sum
dingtalk/dingtalk_test.go
dingtalk/test.json
ldapclient/ldap_test.go
log4go/testlog/conn/client/client
